{
    "presets": [[
        "env",{
            "browsers": ["last 2 versions", "ie >= 10"],
            "modules": "commonjs"
        }
    ],
    "react",
    "babel-preset-stage-0"
    ],
    "plugins": [["transform-runtime",{"polyfill": false,
        "regenerator": true}]]
}
