<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理系统</title>
	<meta id="context-root" value="<%=htmlWebpackPlugin.options.publicContext%>" /> 
  </head>
  <body>
  <script type="text/javascript" src="<%=htmlWebpackPlugin.options.dllName%>"></script>
  </body>
</html>
